.outercontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 320px;
    /* border: 1px solid black; */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.input{
    margin: 10px;
}

.button{
    margin: 10px;
}

a{
    color: rgb(55, 143, 231);
}

a:hover{
    cursor: pointer;
}

