.info p{
    font-size: 10px;
    margin: 0px;
}
.stars{
    font-size: 10px;
    margin: 0px;
    background-color: rgb(14, 117, 14);
    display:inline;
    padding: 2px;
    color: white;
    border-radius: 2px;
}

.actions{
    margin-top: 0px;
}